<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spring_rain_with_who">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spring_Rain_with_Who">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tab2.SubActivity1"/>
        <activity android:name=".Tab2.SubActivity2"/>
        <activity android:name=".Tab2.SubActivity3"/>
        <activity android:name=".Tab2.SubActivity4"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBRN8MiBK8YqCJoVE2loEaHsJem-I0t1GI"/>
    </application>

</manifest>